body {
  margin: 0;
  text-align: center;
  font-family: verdana,sans-serif;
}
hr{
  width:100%;
}


.h1-main {
  margin-top: 0;
  font-size: 5rem;
}


/*-----------------------------Top Cointener---------------------------*/
.top-container {
  background-color: #f0ece3;
  position: relative;
  padding: 4rem;
  background-size: cover;
  background-position: center;
  min-height: 30rem;
}

.main {
  width: 40rem;
  margin: 20rem auto 0;
}



/* =====================profile=========================================== */
.main-profile{

  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #dee0e7;

}
.profile{
  background-color: #dee0e7;
}



/* ================================Middle-container====================== */
.middle-container{
  padding: 4rem;
  padding-bottom: 0rem;
  background-color: #cfd2dc;
}
.hr-section {
  margin: 0;
}
.Abiliti{
  margin: auto;
  margin-top: 0;
  padding: 4rem;

}
.h2-ability {
text-align: center;
}
.h3-ability {


}
.all-tables{
  padding: 4rem;

  text-align: left;
}
.tr-hover:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
.table-skill {
  width: 35rem;
  margin: auto;

  table-layout: auto;
}
.skills-table{
    text-align: center;
}
.th1{
text-align: left;

}

.th2{
text-align: right;
padding: .5rem;
}



/* ============================Bottom container=============================== */
.bottom-container {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color:#b2b6c6;
}
.contact-me{
  padding-bottom: 5rem;
    background-color: #b2b6c6;

}
.email{
  padding: 2rem;
}
.footer{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #959ab0;

}
.footer-link{

  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
